.cuadrado{
    width:900px;
    height: 500px;
    background: rgb(205,172,37);
    background: linear-gradient(90deg, rgba(205,172,37,1) 0%, rgba(244,220,27,1) 32%, rgba(63,155,214,1) 65%, rgba(38,83,173,1) 100%);
    margin-top: 250px;
    margin-left: 300px;
    
}

.fondote{
    height:1500px;
    background:black;
    position: fixed;
}

.otro{
    width: 800px;
    height: 400px;
    background: #000;  
    margin-top: -470px; 
    margin-left:350px;
    
}
.kiensoi{
text-align: center;
background:linear-gradient(90deg, rgba(205,172,37,1) 0%, rgba(244,220,27,1) 32%, rgba(63,155,214,1) 65%, rgba(38,83,173,1) 100%);
margin-top: -250px;
margin-left: -400px;
font-size :60px;
font-family: "Quicksand", sans-serif;
color : linear-gradient(90deg, rgba(205,172,37,1) 0%, rgba(244,220,27,1) 32%, rgba(63,155,214,1) 65%, rgba(38,83,173,1) 100%);

}
